<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="con1" class="com.javaprojects.applicationcontextdemo.bean.Connection" scope="prototype">  
		<!-- collaborators and configuration for this bean go here -->
		<property name="url" value="jdbc:mysql://localhost/javaprojects"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root1"></property>
	</bean>

	<bean id="con2" class="com.javaprojects.applicationcontextdemo.bean.Connection" init-method="myInit" destroy-method="myDestroy">  
		<!-- collaborators and configuration for this bean go here -->
		<property name="url" value="url"></property>
		<property name="username" value="jhon"></property>
		<property name="password" value="pass"></property>
	</bean>
	
	<bean class="com.javaprojects.applicationcontextdemo.bean.PostProcessor"/>

</beans>
