<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Create</title>
		<link rel="stylesheet" th:href="@{/styles/styles.css}"/>
	</head>
	<body>
	  <div th:replace="~{menu :: header}"></div>
	  <h1>User Creation Form</h1>
	  <form action="/create/new" th:object="${user}" method="post">
	    <table class="user">
	      <tr>
	        <th>First Name:</th>
	        <td><input type="text" th:field="*{firstName}" required></td>
	      </tr>
	      <tr>
	        <th>Last Name:</th>
	        <td><input type="text" th:field="*{lastName}" required></td>
	      </tr>
	      <tr>
	        <th>Username:</th>
	        <td>
	            <input type="text" th:field="*{username}" required>
	        </td>
	      </tr>
	      <tr>
	        <th>Password:</th>
	        <td><input type="password" th:field="*{password}" required></td>
	      </tr>
	      <tr>
	        <th>Birth:</th>
	        <td><input type="date" th:field="*{birth}" required></td>
	      </tr>
	      <tr>
	        <th>Status:</th>
	        <td>
				<select type="text" th:field="*{status}">
					<option value="A">A</option>
					<option value="B">B</option>
				</select>
			</td>
	      </tr>
	      <tr>
	          <td colspan="2">
	              <input type="submit" value="Create">
	          </td>
	      </tr>
	    </table>
	  </form>
	</body>
</html>